@model Ogrenci

<form method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label for="Name">Name</label>
        <input asp-for="Name" value="@Model.Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
        <div class="form-group">
        <label for="Sınıf">Sınıf</label>
        <input asp-for="Sınıf" value="@Model.Sınıf" class="form-control">
        <span asp-validation-for="Sınıf" class="text-danger"></span>
        </div>
        <div class="form-group">
        <label for="Description">Açıklama</label>
        <textarea asp-for="Description" value="@Model.Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
        <label for="ImageUrl">Fotoğraf</label>
        <input asp-for="ImageUrl" value="@Model.ImageUrl"class="form-control">
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
        <label for="BolumId">Bölüm</label>
        @* <select asp-for="BolumId" asp-items="@ViewBag.Bolumler" class="form-control">
            <option selected disabled>Bölüm Seçiniz</option>
           
        </select>
        <span asp-validation-for="BolumId" class="text-danger"></span>
        </div> *@
<button type="submit" class="btn btn-primary">Submit</button>
</form>